/* Footer */
footer {
    background-color: var(--footer-bg);
    color: var(--primary-color);
}

.footer_content{
    padding-top: 80px !important;
    padding-bottom: 80px !important;
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.footer_top{
    display: flex;
    justify-content: space-between;
}

.footer_left{
    display: flex;
    flex-direction: column;
    gap: 200px;
}
.footer_bottom{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer_bottom h5{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.left_top{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.left_top h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
}
.address{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.address p {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-sm);

}
.address_mobile{
    display: none;
}


.footer_right{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: end;
}

.right_top{
    display: flex;
    gap: 32px;
}

.right_top button {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 50px !important;
    padding: 10px;
    color: var(--primary-color);
}

.footer_right button {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    color: var(--primary-color);
}

@media(max-width:768px){
    .footer_content{
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        gap: 23px;
    }
    .left_top h3{
        font-size: 16px;
        line-height: 28px;
    }
    .right_top{
        flex-direction: column;
        gap: 8px;
    }
    .address{
        display: none;
    }
    .address_mobile{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    
    .address_mobile p {
        font-size: 12px;
        font-weight: 400;
        line-height: 21px;
    
    }
    .footer_bottom{
        gap: 20px;
    }
    .footer_bottom h5{
        font-size: 12px;
        line-height: 21px;
    }

}