#section3{
    position: relative;
}

.slider-container1 {
    overflow: hidden;
    display: flex;
    position: relative;
}

.slider-container1 > div {
    flex: 0 0 100%; 
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slider-slide4,
.slider-slide3,
.slider-slide2,
.slider-slide1 {
    position: relative; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 280px;
    padding-bottom: 80px;
    flex: 0 0 100%; 
    width: 100%;
}


.slider-slide1 {
    background-image: url("../../images/section3-bg1.jpeg");

}

.slider-slide2 {
    background-image: url("../../images/section3-bg2.jpeg");

}

.slider-slide3 {
    background-image: url("../../images/section3-bg3.jpeg");

}

.slider-slide4 {
    background-image: url("../../images/section3-bg4.jpeg");

}

.slider-slide4::before,
.slider-slide3::before,
.slider-slide2::before,
.slider-slide1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3; 
    pointer-events: none; 
    z-index: 1; 
}


.banner_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
   
}


/* .banner_content {
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 77px;
    z-index: 2; 
} */



.banner_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    color: var(--primary-color);
    z-index: 2;
}


.banner_left h2{
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
}

.banner_left h2 span img{
    width: 98px;
    height: 88px;
}

.banner-bar-body{
    width: 100%;
    background-color: #7D7D7D ;
    margin-top: 14vw;
    max-width: 1043px;
}

.banner-bar-color{
    height: 3px;
    width: 40%;
    background-color: #fff;
}


.banner_left p{
    font-size: 20px;
    font-weight: 700;
    max-width: 1043px;

}

.banner_left button{
    padding: 10px 30px;
    font-size: 16px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #fff;
    color:#fff
}

.banner_count{
    position: absolute;
    bottom: 35px;
    left: 43%;
    display: flex;
    gap: 8px;
    transform: translateX(-50%);
}

.banner_count span{
    background-color: #FFFFFF66;
    height: 3px;
    width: 32px;
}

.banner_count .active{
    background-color: #FFFFFF;
    height: 3px;
    width: 32px;
}

@media (max-width: 768px){

    .slider-slide{
        padding-top: 80px;
        padding-bottom: 24px;
    }
    .banner_left{
        gap: 35px;
        margin-top: 80px;
    }

    .banner_left h2{
        font-size: 24px;
        line-height: 36px;
    }
    
    .banner_left h2 span img{
        width: 32px;
        height: 29px;
    }

    .banner_left p{
        font-size: 12px;
        line-height: 21px;
        width: 100%;
    }

    .banner-bar-body{
        margin-top: 263px;
    }

    .banner_left button {
        padding: 8px 16px;
        font-size: 12px;
    }

    .banner_count .active,
    .banner_count span{
        width: 20px;
    }

}