#section3 {
    position: relative; 
    background-image: url("../../images/section3-bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 280px;
    padding-bottom: 80px;
}

#section3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2; 
    pointer-events: none; 
    z-index: 1; 
}

.banner_content {
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 77px;
    z-index: 2; 
}



.banner_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    color: var(--primary-color);
}


.banner_left h2{
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
}

.banner_left h2 span img{
    width: 98px;
    height: 88px;
}

.banner-bar-body{
    width: 100%;
    background-color: #7D7D7D ;
    margin-top: 14vw;
    max-width: 1043px;
}

.banner-bar-color{
    height: 3px;
    width: 40%;
    background-color: #fff;
}


.banner_left p{
    font-size: 20px;
    font-weight: 700;
    max-width: 1043px;

}

.banner_left button{
    padding: 10px 30px;
    font-size: 16px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #fff;
    color:#fff
}

.banner_count{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.banner_count span{
    background-color: #FFFFFF66;
    height: 3px;
    width: 32px;
}

.banner_count .active{
    background-color: #FFFFFF;
    height: 3px;
    width: 32px;
}

@media (max-width: 768px){

    #section3{
        padding-top: 80px;
        padding-bottom: 24px;
    }
    .banner_left{
        gap: 35px;
        margin-top: 80px;
    }

    .banner_left h2{
        font-size: 24px;
        line-height: 36px;
    }
    
    .banner_left h2 span img{
        width: 32px;
        height: 29px;
    }

    .banner_left p{
        font-size: 12px;
        line-height: 21px;
        width: 100%;
    }

    .banner-bar-body{
        margin-top: 263px;
    }

    .banner_left button {
        padding: 8px 16px;
        font-size: 12px;
    }

    .banner_count .active,
    .banner_count span{
        width: 20px;
    }

}