#section4{
    padding-top: 180px;
    padding-bottom: 180px;
}

.conv_content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.conv_head{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.conv_head h2,
.conv_content h3{
    font-size: 40px;
    font-weight: 700;
}

.conv_head img{
    width: 200px;
    height: 53px;
}

.conv_content h3:last-child{
    letter-spacing: -3px;
}

.conv_content h3 span{
    color:  #F58220;
}

.conv_gallery{
    margin-top: 120px;
    display: flex;
    gap: 40px;
}

.center-card{
    width: 485px;
    padding:36px 0px  60px 0px;

}

.center-card h3{
    padding: 20px 0px 20px 0px;
    color: #fff;
}

.center-card p{
    color: var(--sub-head-color);
}
.center-card img{
    width:100%;
    height: 300px;
    object-fit: cover;
}

.bar-body{
    width: 100%;
    background-color: #7D7D7D ;
    margin-top: 40px;

}

.bar-color{
    height: 3px;
    width: 60%;
    background-color: #7D7D7D;
}



.center-card:hover {
    transform: translateY(-10px);
    color: var(--primary-color);
}


@media (max-width:768px){
    #section4{
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .conv_head{
        gap: 8px;
    }

    .conv_head h2,
    .conv_content h3{
        font-size: 20px;
    }

    .conv_head img{
        width: 108px;
        height: 27px;
    }

    .conv_content h3:last-child{
        letter-spacing: -3px;
    }

    .conv_content h3 span{
        display: block;
    }

    .conv_gallery{
        margin-top: 80px;
        flex-direction: column;
        gap: 40px;
    }

    .center-card{
        width: 100%;
        padding: 0;
    
    }
}
