#section5{
    background-color: #ECEFF1;
    padding-top: 170px;
    padding-bottom: 170px;
    position: relative;
}

.event{
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: space-between;
    flex-wrap: wrap;
}



.section-one img{
    max-width: 738px;
    max-height: 444px;
    margin-bottom: .6rem;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}
.title h2,
.title i
{
    font-size: 40px;
    letter-spacing: -3px;
    font-weight: 700;
    color: #2C2C2C;

}
.section-one h3{
    font-size: 40px;
    letter-spacing: -2px;
    color: #2C2C2C;
    align-items: start;

}

.details{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    color: #979797;

}

.details:hover{
    color: #00427A;
}

.details li{
    text-align: start;
    font-size: 20px;

}
.details ul{
    padding-left: 2rem;
}

.section-one .details p{
    font-size: 18px;
    margin-top: 1rem;
}


.details h3{
    font-size: 28px;
    font-weight: 700;
}

.section-two p:first-child{
    font-size: 20;
    margin-top: 0rem;
}

.section-two p:last-child{
    font-size: 16;
    margin-top: 1rem;

}

.conv_side{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px;
    bottom: 64px;
    right: 24px;
}

.conv_side_item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #fff;
    border: 1px solid #00427A;
    border-radius: 8px;
    padding: 10px;
    align-items: center;
}

.conv_side_item p{
    font-size: 14px;
    font-weight: 700;
    line-height: 24x;
    color: #00427A;
}

.conv_side_item.active{
    background: #00427A;
}

.conv_side_item.active p{
    color: #fff;
}

@media (max-width:768px){
    #section5{
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .title {
       margin-bottom: 24px;
    }
    .title h2,
    .title i
    {
        font-size: 24px;
    }
    .details h3{
        font-size: 18px;
    }

    .section-one img {
        max-width: 100%;
    }

    .details li{
        font-size: 14px;
    
    }
    .details ul{
        padding-left: 1rem;
    }
    
    .section-one .details p{
        font-size: 12px;
        margin-top: 1rem;
    }

    .section-two p{
        font-size: 14px;
        margin-top: 1rem;
    }

    .conv_side{
        gap: 8px;
        bottom: 32px;
        right: 8px;
    }
    
    .conv_side_item{
        gap: 4px;
        border-radius: 8px;
        padding: 4px;
    }
    
    .conv_side_item p{
        font-size: 12px;
        font-weight: 400;
        line-height: 21x;
    }

}




 