
#section7{
    background-image: url("../../images/section7-bg.jpeg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1250px;
    opacity: 80%;
}


.asset_content{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}


.asset_center{
    color: var(--primary-color);
    text-align: center;
}


.asset_center h1{
    font-size: 134px;
    font-weight: 700;
    line-height: 150px;
    text-align: center;
}

@media (max-width:360px){
    #section7{
        height: 640px;
    }

    .asset_center h1{
        font-size: 48px;
        line-height: 72px;
    }
    .asset_center h1 span img{
        width: 192px;
        height: 41px;
    }
}
